<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Aston Bookstore</a>
    <ul>
      <li><a href="/login">Log in</a></li>
      <li><a href="/authors">Author Page</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/books">Books Page</a></li>
      <li><a href="/books/new">Add Book</a></li>
    </ul>
  </nav>
</header>