@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';


:root {
    font-family: 'Tahoma';
    font-size: 19px;
    color: var(--color-text-light);
 }

 *, *::before, *::after {
    box-sizing: border-box;
  }

body {
 background: linear-gradient(to left, var(--color-background-dark), var(--color-background-light));
 }

.container {
max-width: 1000px;
margin: auto; 
margin-bottom: 2rem;
}

.inner-container {
    margin: 0 1rem;
  }

  .page-header {
    font-size: 2rem;
    font-weight: 400;
  }